@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.section {
  padding: 20px 0;
}
.navbar {
  min-height: 72px;
}
.profile-dropdown__img {
  margin-right: 10pt;
}

.preferences-content {
  padding: 0 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .preferences-content {
    margin-top: 0;
  }
}