@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.section {
  padding: 50px 0;
}
.navbar {
  min-height: 72px;
}
.profile-dropdown__img {
  margin-right: 10pt;
}